<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>關於我</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="../static/css/adifier.css">
</head>
<body>
<!--目錄nav-->
<nav class="ui inverted attached segment m-padded-tb-mini m-shadow-small">
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui teal header item">Adifier</h2>
            <a href="#" class="m-item item m-mobile-hide"><i class="mini home icon"></i>首頁</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="mini idea icon"></i>分類</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="mini tags icon"></i>標籤</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="mini clone icon"></i>歸檔</a>
            <a href="#" class="active m-item item m-mobile-hide"><i class="mini info icon"></i>關於我</a>
            <div class="right m-item item m-mobile-hide">
                <div class="ui icon inverted transparent input m-margin-tb-tiny">
                    <input type="text" placeholder="Search...">
                    <i class="search link icon"></i>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show">
        <i class="sidebar icon"></i>
    </a>
</nav>


<!--中間內容-->
<div class="m-container-small m-padded-tb-big">
    <div class="ui container">
        <div class="ui stackable grid">
            <div class="eleven wide column">
                <div class="ui segment">
                    <img src="https://picsum.photos/800/600?image=1001" alt="" class="ui rounded image">
                </div>
            </div>
            <div class="five wide column">
                <div class="ui top attached segment">
                    <div class="ui header">關於我</div>
                </div>
                <div class="ui attached segment">
                    <p class="m-text">StevenWu 在葡萄牙Faro參加原廠媒體活動期間</p>
                    <p class="m-text">在BMW原廠的規劃中，車型數字「7」、「8」歸為陣營中的「Luxury Segment」，中文直譯就是指「豪華級距」，但其實BMW本身就屬於豪華品牌，我們姑且稱之為「超豪華系列」，除了7系列與8系列之外，也涵蓋了i8與X7。</p>
                </div>
                <div class="ui attached segment">
                    <div class="ui orange left pointing basic label m-margin-tb-tiny">程式</div>
                    <div class="ui orange left pointing basic label m-margin-tb-tiny">旅遊</div>
                    <div class="ui orange left pointing basic label m-margin-tb-tiny">助人</div>
                    <div class="ui orange left pointing basic label m-margin-tb-tiny">生活</div>
                </div>
                <div class="ui attached segment">
                    <div class="ui teal left pointing basic label m-margin-tb-tiny">java</div>
                    <div class="ui teal left pointing basic label m-margin-tb-tiny">html</div>
                    <div class="ui teal left pointing basic label m-margin-tb-tiny">springBoot</div>
                    <div class="ui teal left pointing basic label m-margin-tb-tiny">goodLife</div>
                </div>
                <div class="ui attached segment">
                    <a href="#" class="ui circular icon button"><i class="github icon"></i></a>
                    <a href="#" class="ui LineQR circular icon button"><i class="facebook icon"></i></a>
                    <a href="#" class="ui qq circular icon button" data-content="12345678" data-position="bottom center"><i class="qq icon"></i></a>
                </div>
                <div class="ui Line-QR flowing popup transition hidden">
                    <img src="../static/images/myQRcode.PNG" alt="" class="ui rounded image" style="width: 110px">
                </div>
            </div>
        </div>
    </div>
</div>


<!--footer--->
<footer class="ui inverted vertical segment m-padded-tb-massive">
    <div class="ui center aligned container">
        <div class="ui inverted divided stackable grid">
            <div class="three wide column">
                <div class="ui inverted link list">
                    <div class="item">
                        <img src="../static/images/myQRcode.PNG" class="ui rounded image" alt="" style="width: 110px">
                    </div>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced">最新文章</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">User Story</a>
                    <a href="#" class="item">User Story</a>
                    <a href="#" class="item">User Story</a>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced">聯繫我們</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">User Story</a>
                    <a href="#" class="item">User Story</a>
                    <a href="#" class="item">User Story</a>
                </div>
            </div>

            <div class="seven wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced">Adifier</h4>
                <p class="m-text-thin m-text-spaced m-opacity-mini">飛鈦網站</p>
            </div>
        </div>
        <div class="ui inverted section divider"></div>
        <p class="m-text-thin m-text-spaced m-opacity-tiny">Copyright © 2019-2022 Steven Wu @ Adifier com</p>
    </div>
</footer>
<script src="http://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
<script>
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });
    $('.qq').popup();

    $('.LineQR').popup({
      popup :$('.Line-QR'),
      position: 'bottom center'
    });
</script>
</body>

</html>