<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="../static/css/bootstrap.min.css">
    <title>ProductInfo 新增</title>
</head>
<body >
<div class="container" style="max-width: 800px;">
    <div class="well">
        <form action="/productInfo" method="post" th:object="${productInfo}">
            <input type="hidden" th:value="*{productId}" name="productId">
            <div class="form-group">
                <lable for="productNameId">商品名稱</lable>
                <input type="text" name="productName" id="productNameId" th:field="*{productName}" class="form-control">
            </div>
            <div class="form-group">
                <lable for="productCodeId">商品編碼</lable>
                <input type="text" name="productCode" id="productCodeId" th:field="*{productCode}" class="form-control">
            </div>
            <div class="form-group">
                <lable for="barCodeId">條碼</lable>
                <input type="text" name="barCode" id="barCodeId" th:field="*{barCode}" class="form-control">
            </div>
            <div class="form-group">
                <lable for="brandId">品牌ID</lable>
                <input type="text" name="brandId" id="brandId" th:field="*{brandId}" class="form-control">
            </div>
            <div class="form-group">
                <lable for="oneCategoryById">一級分類ID</lable>
                <input type="text" name="oneCategoryId" id="oneCategoryById" th:value="*{oneCategoryId}" class="form-control">
            </div>
            <div class="form-group">
                <lable for="twoCategoryById">二級分類ID</lable>
                <input type="text" name="twoCategoryId" id="twoCategoryById" th:value="*{twoCategoryId}" class="form-control">
            </div>
            <div class="form-group">
                <lable for="threeCategoryById">三級分類ID</lable>
                <input type="text" name="threeCategoryId" id="threeCategoryById" th:value="*{threeCategoryId}" class="form-control">
            </div>
            <div class="form-group">
                <lable for="supplierById">供應商ID</lable>
                <input type="text" name="supplierId" id="supplierById" th:value="*{supplierId}" class="form-control">
            </div>
            <div class="form-group">
                <lable for="averageCostId">商品平均加權成本</lable>
                <input type="text" name="averageCost" id="averageCostId" th:field="*{averageCost}" class="form-control">
            </div>
            <div class="form-group">
                <lable for="publishStatusId">上架狀態</lable>
                <select name="publishStatus" id="publishStatusId" class="form-control">
                    <option value="0" th:selected="(*{publishStatus}== '0')">未上架</option>
                    <option value="1" th:selected="(*{publishStatus}== '1')">已上架</option>
                    <option value="2" th:selected="(*{publishStatus}== '2')">已下架</option>
                </select>
            </div>
            <div class="form-group">
                <lable for="auditStatusId">審核狀態</lable>
                <select name="auditStatus" id="auditStatusId" class="form-control">
                    <option value="0" th:selected="(*{auditStatus}== '0')">未審核</option>
                    <option value="1" th:selected="(*{auditStatus}== '1')">審核通過</option>
                    <option value="2" th:selected="(*{auditStatus}== '2')">審核不通過</option>
                </select>
            </div>
            <div class="form-group">
                <lable for="weightId">商品重量</lable>
                <input type="text" name="weight" id="weightId" th:field="*{weight}" class="form-control">
            </div>
            <div class="form-group">
                <lable for="lengthId">商品長度</lable>
                <input type="text" name="length" id="lengthId" th:field="*{length}" class="form-control">
            </div>
            <div class="form-group">
                <lable for="heightId">商品高度</lable>
                <input type="text" name="height" id="heightId" th:field="*{height}" class="form-control">
            </div>
            <div class="form-group">
                <lable for="widthId">商品寬度</lable>
                <input type="text" name="width" id="widthId" th:field="*{width}" class="form-control">
            </div>
            <div class="form-group">
                <lable for="colorTypeId">顏色</lable>
                <input type="text" name="colorType" id="colorTypeId" th:field="*{colorType}" class="form-control">
            </div>
            <div class="form-group">
                <lable for="productionDateId">生產日期</lable>
                <input type="date" name="productionDate" id="productionDateId" th:value="*{productionDate}" class="form-control">
            </div>
            <div class="form-group">
                <lable for="shelfLifeId">商品有效期限</lable>
                <input type="date" name="shelfLife" id="shelfLifeId" th:field="*{shelfLife}" class="form-control">
            </div>
            <div class="form-group">
                <lable for="descriptionId">商品描述</lable>
                <input type="text" name="description" id="descriptionId" th:field="*{description}" class="form-control">
            </div>

            <p class="text-center">

                <button type="submit" class="btn btn-primary">提交</button>
            </p>
        </form>
    </div>

</div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script th:src="@{/js/bootstrap.min.js}" src="../static/js/bootstrap.min.js"></script>
</body>
</html>