<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>ProductInfo List</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="../static/css/bootstrap.min.css">
</head>
<body>
<div class="container" style="max-width: 1500px;">

    <h1>ProductInfo List</h1>
    <div class="alert alert-success alert-dismissable fade in " th:unless="${#strings.isEmpty(message)}">
        <a href="#" class="close" data-dismiss="alert">&times;</a>
        <strong>恭喜！ </strong>
        <span th:text="${message}">儲存成功</span>
    </div>
    <p class="text-right"><a href="./input.html" th:href="@{/productInfo/input}" class="btn btn-primary">新增</a></p>
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>商品名稱</th>
            <th>條碼</th>
            <th>商品編碼</th>
            <th>品牌ID</th>
            <th>一級分類ID</th>
            <th>二級分類ID</th>
            <th>三級分類ID</th>
            <th>供應商ID</th>
            <th>商品平均加權成本</th>
            <th>上架狀態</th>
            <th>審核狀態</th>
            <th>商品重量</th>
            <th>商品長度</th>
            <th>商品高度</th>
            <th>商品寬度</th>
            <th>顏色</th>
            <th>生產日期</th>
            <th>商品有效期限</th>
            <th>商品描述</th>
            <th>商品登錄時間</th>
            <th>最後修改時間</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <!--
            iterStat:
            count:計數 從1開始
            index:索引 從0開始
            size: 列表總數
            even/odd: 奇偶數
        -->
        <tr th:each="productInfo, iterStat:${page.content}" >
            <td th:text="${iterStat.count}">1</td>
            <td ><a href="#" th:text="${productInfo.productName}" th:href="@{'/productInfo/'+${productInfo.productId}}">商品名稱</a></td>
            <td th:text="${productInfo.barCode}">條碼</td>
            <td th:text="${productInfo.productCode}">商品編碼</td>
            <td th:text="${productInfo.brandId}">品牌ID</td>
            <td th:text="${productInfo.oneCategoryId}">一級分類ID</td>
            <td th:text="${productInfo.twoCategoryId}">二級分類ID</td>
            <td th:text="${productInfo.threeCategoryId}">三級分類ID</td>
            <td th:text="${productInfo.supplierId}">供應商ID</td>
            <td th:text="${productInfo.averageCost}">商品平均加權成本</td>
            <td th:switch="${productInfo.publishStatus}">
                <span th:case="0">未上架</span>
                <span th:case="1">上架</span>
                <span th:case="2">下架</span>
                <span th:case="*">狀態</span>
            </td>
            <td th:switch="${productInfo.auditStatus}">
                <span th:case="0">未審核 </span>
                <span th:case="1">已審核</span>
                <span th:case="2">審核未通過</span>
                <span th:case="*">狀態</span>
            </td>
            <td th:text="${productInfo.weight}">商品重量</td>
            <td th:text="${productInfo.length}">商品長度</td>
            <td th:text="${productInfo.height}">商品高度</td>
            <td th:text="${productInfo.width}">商品寬度</td>
            <td th:text="${productInfo.colorType}">顏色</td>
            <td th:text="${productInfo.productionDate}">生產日期</td>
            <td th:text="${productInfo.shelfLife}">商品有效期限</td>
            <td th:text="${productInfo.description}">商品描述</td>
            <td th:text="${productInfo.indate}">商品登錄時間</td>
            <td th:text="${productInfo.modifiedTime}">最後修改時間</td>
            <td>
                <a href="#" th:href="@{/productInfo/{productId}/input(productId=${productInfo.productId})}">更新</a>
                <a href="#" th:href="@{/productInfos/{productId}/delete(productId=${productInfo.productId})}">刪除</a>
            </td>
        </tr>
        </tbody>
    </table>
    <nav>
        <ul class="pager">
            <li class="previous"><a href="#" th:href="@{'/productInfos?page='+${page.number-1}}" th:unless="${page.first}">上一頁</a></li>
            <li class="next"><a href="#" th:href="@{/productInfos(page=${page.number}+1)}" th:unless="${page.last}">下一頁</a></li>
        </ul>
    </nav>
<div>
</div>
</div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script th:src="@{/js/bootstrap.min.js}" src="../static/js/bootstrap.min.js"></script>
</body>
</html>